.pets-page {
  width: 100%;
  min-height: 100vh;
  background-color: #274b65;
  padding: 40px 0;
}

.cards-wrapper-container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

/* Título */
.titulo {
<<<<<<< HEAD
  background-color: #25455d;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;

  padding: 7px 550px;
  border-radius: 50px;

  text-align: center;
  width: fit-content;
  margin: 0 auto 50px auto;

  border: 5px solid #0E2A45;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
=======
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #254d6b;
  border: 5px solid #143750;
  padding: 5px 20px;
  border-radius: 50;
  text-align: center;
  display: block;
  width: 1250px;
  margin: 0 auto 30px auto;
>>>>>>> d271b55a75acd7df69c07698c2329f97e26d57c9
}

/* Grid dos cards */
.grid-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 10px;
  justify-items: center;
}

/* CARD HORIZONTAL */
.card-pet {
  background: #254b6b;
  border-radius: 16px;
  padding: 15px;

  display: flex;                  /* card horizontal */
  flex-direction: row;            /* garante imagem à esquerda */
  gap: 14px;

  color: white;

  width: 100%;
  max-width: 500px;
  min-height: 250px;
  box-sizing: border-box;
  position: relative; 
}

/* Imagem do card */
.card-image-wrapper {
  width: 150px;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Coluna à direita (textos + botão) */
.content-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;   /* textos em cima, botão embaixo */
  flex: 1;
 align-items: center;
}

/* Caixa branca de textos */
.card-text-box {
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 12px;
  color: #0f2a3d;

  height: 180px;        
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;     /* evita estourar se o texto for grande */
}


.card-text-box h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.card-text-box p {
  font-size: 13px;
  margin-bottom: 4px;
  line-height: 1.25;
}


.btn-adotar {
  background-color: #024b91;
  color: white;
  border: 2px solid #3e8abf;


  padding: 8px 26px;
  border-radius: 24px;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  position: absolute;            /* botão agora é posicionado no card */
  bottom: 10px;                  /* distância do rodapé */
  left: 50%;                     /* centraliza */
  transform: translateX(-50%);   /* corrige para central exato */

  transition: background-color 0.2s;
}

.btn-adotar:hover {
  background-color: #e4a34e;
   border: 2px solid #ee9530;  
}


