.pets-page {
  width: 100%;
  min-height: 100vh;
  background-color: #274b65;
  padding: 40px 0;
  display: flex;
}

.cards-wrapper-container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.titulo {
  background-color: #25455d;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  padding: 7px 550px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto 50px auto;
  border: 5px solid #0E2A45;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.grid-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 10px;
  justify-items: center;
}

/* Responsividade do titulo */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .titulo {
    padding: 7px 400px;
    font-size: 20px;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .titulo {
    padding: 7px 200px;
    font-size: 18px;
  }
}
@media (min-width:300px) and (max-width:699px) {
  .titulo {
    padding: 7px 10px;
    width: 90%;
    font-size: 16px;
    justify-content: center;
    display: flex;
  }
}