.toastContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  padding: 12px 16px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.4s ease;
}

/* Tipos */
.success {
  background-color: #2ecc71;
}

.error {
  background-color: #e74c3c;
}

.warning {
  background-color: #f39c12;
}

.info {
  background-color: #3498db;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
