/* ===========================
   OVERLAY E POP-UP
   =========================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: #ffffff;
  border-radius: 22px;
  padding: 40px;
  width: 1500px;
  max-width: 95%;
  height: 700px;
  box-shadow: 0 0 25px rgba(0,0,0,0.25);
  overflow: hidden;
  border: 4px solid #ecad5b;

  display: flex;
  flex-direction: column;
}

.modalContent {
  display: flex;
  gap: 20px;
  height: 100%;
}

/* ===========================
   COLUNA DA IMAGEM
   =========================== */
.imageBox {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageBox img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 20px;
}

.petName {
  margin-top: 15px;
  padding: 25px 150px;
  background-color: #024b91;
  color: #f7bb63;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  border: 3px solid #143750;
}

/* ===========================
   COLUNA DA INFOBOX
   =========================== */
.infoBox {
  flex: 1.7;
  background: #7a8fa7;
  padding: 40px;
  border-radius: 20px;
  border: 4px solid #143750;
  overflow-y: auto;
  position: relative;
}

/* COLUNAS LADO A LADO */
.infoColumns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin-bottom: 20px;
}

/* COLUNA 1 E 2 (TEXTO DE INFOS) */
.infoColumns p {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 10px;
}

.infoColumns strong {
  color: #f7bb63;
  font-weight: 700;
}


.infoGroup {
  width: 45%;
}

.respEndGroup {
  width: 45%;
}

/* ===========================
   DESCRIÇÃO
   =========================== */
.descriptionBox {
  margin-top: 110px;
  background: #f3f7fb;
  border-radius: 26px;
  width: 100%;
  padding: 25px;
  height: 200px;
  border: 3px solid #143750;
  overflow-y: auto;
}

.descLabel {
  font-size: 20px;
  font-weight: 700;
  color: #f7bb63;
  margin-bottom: 10px;
  margin-top: -10px;
}

.descText {
  color: #143750;
  font-size: 16px;
  line-height: 1.4;
}

/* ===========================
   BOTÃO
   =========================== */
.contactBtn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #024b91;
  color: white;
  padding: 15px 150px;
  border: 3px solid #3e8abf;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.pawIcon {
  position: absolute;
  top: 20px;       /* ajuste fino */
  right: 10px;     /* ajuste fino */
  width: 120px;     /* tamanho ideal */
  height: 65px;
  object-fit: contain;
  z-index: 10;
}

