.container {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  background-color: #274b65;
  overflow: hidden;
  
}

.form {
  width: 100%;
  max-width: 760px;
  background: #f8ffff;
  padding: 3rem 2.5rem;
  border-radius: 24px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  inset: 1;
  z-index: 1;
  gap: 1.4rem;
  align-items: center;
  border: 6px solid #d9d9d9;
  
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/images/paww.svg');
  background-repeat: repeat;
  background-size: 756px;
  background-position: center;
  opacity: 0.5;
  filter: brightness(0) saturate(100%) invert(77%) sepia(97%)
          saturate(686%) hue-rotate(319deg)
          brightness(101%) contrast(101%);
  z-index: 0;
  pointer-events: none;
}

.form h1 {
  color: #46799e;
}

.title {
  margin: 0 0 .75rem 0;
  font-weight: 700;
  text-align: center;
  color: #0b3b52;
}

.title a{
    text-decoration: underline;
    color: blue;
}


.inputWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 10px 18px;
  border: 6px solid #143750;
  border-radius: 999px;
  background: transparent;
  box-shadow: inset 0 -3px 0 rgba(255,255,255,0.02);
  color: black;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffd28b;
  color: #0b3746;
  font-size: 30px;
}

.fieldLabel {
  font-weight: 700;
  color: #0b3746;
  min-width: 90px;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 10px 6px;
  color: black;
}

.button {
  margin-top: 0.5rem;
  padding: 14px 56px;
  background: linear-gradient(180deg,#0d66a6,#0a4f86);
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.15rem;
  box-shadow: 0 6px 0 rgba(0,0,0,0.08), inset 0 -6px 0 rgba(255,255,255,0.03);
}

.error {
  background: #fee2e2;
  color: #b91c1c;
  padding: .5rem .75rem;
  border-radius: 6px;
  font-size: .9rem;
}

.bottomLink {
  margin-top: 0.75rem;
  color: #0b3b52;
  font-size: 1.45rem;
  text-align: center;
}

.bottomLink a {
  color: #0b66a6;
  text-decoration: underline;
  margin-left: 6px;
}

.passwordInputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.passwordInputWrapper .input {
  padding-right: 35px;
}

.togglePassword {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #0b3746;
  font-size: 1.2rem;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  margin-left: auto;
}

.togglePassword:hover {
  color: #0b66a6;
}