/* fundo geral */
.container {
  min-height: 100vh;
  background: #274B65;
  display: grid;
  place-items: center;
  padding: 40px 20px;
}

/* card */
.form {
  width: 100%;
  max-width: 1500px;
  background: #F8FFFF;
  padding: 50px 40px;
  border-radius: 25px;
  border: 6px solid #d9d9d9;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);


}

/* título */
.title {
  text-align: center;
  font-size: 2rem;
  color: #0b3b52;
  margin-bottom: 35px;
  font-weight: 700;
}

/* GRID igual imagem */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 40px;
}

/* colunas que ocupam linhas completas */
.full {
  grid-column: span 2;
}

/* wrappers dos campos */
.inputWrapper {
  display: grid;
  gap: 8px;
}

.fieldLabel {
  font-weight: 700;
  color: #0b3b52;
}

/* estilo do campo */
.inputInner {
  position: relative;
  border: 6px solid #143750;
  border-radius: 999px;
  background: transparent;
  height: 58px;
  display: grid;
  align-items: center;
}

/* ícone */
.iconInside {
  position: absolute;
  left: 12px;
  width: 45px;
  height: 45px;
  background: #FFD28B;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #0b3b52;
  font-size: 20px;
}


/* input */
.input {
  border: none;
  outline: none;
  background: transparent;
  padding-left: 70px;
  width: 100%;
  font-size: 1rem;
  color: #0b3b52;
}

/* botão */
.button {
  margin: 40px auto 0;
  padding: 15px 60px;
  border: none;
  border-radius: 999px;
  background: linear-gradient(180deg, #0d66a6, #0a4f86);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  display: block;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.colEsquerda {
  display: grid;
  gap: 16px;
}

.colDireita {
  display: grid;
  gap: 16px;
}

.colBaixo {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 0fr auto 1fr;
  gap: 16px;
  align-items: end;
  justify-self: center;
  max-width: 800px;
}

.full{
  width: 100%;
}
.half{
  width: 48%;
}
.bottomLink {
  margin-top: 0.75rem;
  color: #0b3b52;
  font-size: 1.45rem;
  text-align: center;
}

.bottomLink a {
  color: #0b66a6;
  text-decoration: underline;
  margin-left: 6px;
}
.separador {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  align-items: end;
  padding-bottom: 15px;
}

/* Responsividade */
@media (max-width: 900px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .colBaixo {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .separador {
    text-align: center;
    padding-bottom: 0;
  }

  .half {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}