.apoiar-page {
  width: 100%;
  min-height: 100vh;
  background-color: #274b65;
  padding: 40px 0;
}


.cards-wrapper-container {
  width: 100%;
  height: 100%;
  max-width: 1700px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 40px;
  padding: 40px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}


.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #254d6b;
  border: 5px solid #143750;
  padding: 5px 20px;
  border-radius: 50;
  text-align: center;
  display: block;
  width: 1400px;
  margin: 0 auto 30px auto;
  width: 100%;
  top: 70px;
}

.grid-ongs {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  grid-row-gap: 70px;    /* espaço vertical entre as linhas */
  grid-column-gap: 50px; /* espaço horizontal entre os cards da mesma linha */
  justify-items: center;
}


.card-ong {
  background: #7790a2;
  border-radius: 16px;
  border-color: #143750;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  gap: 12px;
  position: relative;
  color: white;
  width: 100%;
  max-width: 500px;   /* todos com a mesma largura */
  height: 290px;      /* mais alto para descrição */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;   /* default: empilha horizontalmente */
  justify-content: center; /* alinha horizontalmente: flex-start, center, flex-end, space-between */
  align-items: flex-start;     /* alinha verticalmente: flex-start, center, flex-end */
}

.card-image-wrapper {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px;
  border-color: black;
  border-width: 1;
  border-style: solid;
  flex-shrink: 0; 
  top: 17%;
  left: 0%;
}




.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card-text-box {
  background: none;
  border-radius: 12px;
  padding: 10px 12px;
  color: white;
  position: relative;
  top: 27px;
  left: 40px;

  flex: 1;
  height: 200px;   
  width: 250px;
  max-width: none;
  flex: none;       /* mesma altura em todos */
  box-sizing: border-box;
  overflow: hidden;       /* impede o texto de estourar o card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 17px;
}

.card-title {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px; /* um pouco de espaçamento nas laterais */
  box-sizing: border-box;
}

.card-title h3 {
  position: relative;
  margin: 0;             /* remove margens */
  font-size: 21px;
  font-weight: bold;
  color: #ffb74d;
  text-align: center;  /* centraliza horizontalmente */
  white-space: nowrap;   /* força o texto a ficar em uma linha */
  overflow: hidden;      /* opcional: esconde o excesso se não couber */
  text-overflow: ellipsis; /* opcional: coloca "..." se cortar */
  max-width: 100%;
  flex-shrink: 1;
  padding: 0;
}



.apoiar-btn {  
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg,#0d66a6,#0a4f86);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 5px 70px;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border-color: #274b65;
  border-style: solid;
  border-width: 4px;
}


.descricao {
  color: #ffb74d;
  font-size: 17px;
}
