.apoiar-page {
  position: relative;
  min-height: 100vh;
  background-color: #f7f3ec !important;
  background-image: none !important;
  overflow: hidden;
  z-index: 2;
}

.topLeftMessage {
  position: absolute;
  top: 20px;
  left: 80px;
  color: #0f5c5c;
  font-size: 85px;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  z-index: 10;
}

.topLeft2Message {
  position: absolute;
  top: 110px;
  left: 80px;
  color: #d48d15;
  font-size: 50px;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  z-index: 10;
}

.scanText {
  position: absolute;
  top: 205px;
  left: 220px;
  color: #0f5c5c;
  font-size: 40px;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  z-index: 10;
}

.email-container {
  position: absolute;
  top: 745px;
  left: 110px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 50;
}

.scanChave {
  color: #0f5c5c;
  font-size: 40px;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
}

.copy-button {
  background-color: #0f5c5c;
  color: white;
  border: none;
  padding: 4px 18px;
  border-radius: 30px;
  border-color: #b87a12;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  font-size: 24px;
  transition: background-color 0.2s;

}

.copy-button:hover {
  background-color: #b87a12;
}

.qrImage {
  position: absolute;
  top: 15px;
  left: -460px;
  z-index: 10;
}

.qrImage img {
  width: 1750px;
  height: auto;
}

.dogs-image {
  position: fixed;
  bottom: -560px;
  right: -800px;
  z-index: 10;
}

.dogs-image img {
  width: 2400px;
  height: auto;
}
